.cover__subtitle {
  max-width: 360px;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
  text-align: center;
  margin: 32px auto auto;
  }

@media screen and (max-width: 320px) {
    .cover__subtitle {
      margin: 16px auto auto;
      max-width: 288px;
      font-size: 14px;
      line-height: 16px;
    }
  }