.place__website-heading {
  color: #AAAAAA;
  margin: 0 0 12px;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: 400;
  }

@media screen and (max-width: 650px) {
    .place__title {
      margin: 0 0 0 16px;
    }
  }